<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title><%= hostname %></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
<h1> No Page @ this location</h1>
<p>
  <a href="http://validator.w3.org/check?uri=referer"><img
     src="http://www.w3.org/Icons/valid-xhtml10"
     alt="Valid XHTML 1.0 Strict" height="31" width="88" style="border: 0;" /></a>
</p>
<p>
  <small><em><%= hostname %></em></small>
</p>
</body>
</html>

